手机: redmi note4x
wifisoc: w600

发送工具: airkissdebugger.apk

输出airkiss-1.0.0-open后开始发送

```
2019-05-16

/*  路由型号: 未知  */
[12:43:22.529] airkiss: airkiss-1.0.0-open
[12:43:26.292] airkiss locked chn 11
[12:43:36.229] pwd 12345678901234567890 ssid CDHN_103

[12:46:44.361] airkiss: airkiss-1.0.0-open
[12:46:48.970] airkiss locked chn 11
[12:47:05.864] pwd 12345678901234567890 ssid CDHN_103

[12:49:22.867] airkiss: airkiss-1.0.0-open
[12:49:47.162] airkiss locked chn 11
[12:50:04.192] pwd 12345678901234567890 ssid

[12:52:51.499] airkiss: airkiss-1.0.0-open 
[12:52:55.159] airkiss locked chn 11
[12:53:05.038] pwd 12345678901234567890 ssid CDHN_103

[12:56:33.587] airkiss: airkiss-1.0.0-open
[12:56:39.237] airkiss locked chn 11
[12:56:50.772] pwd qwertyuiopasd ssid CDHN_103

/* 路由型号: 未知 */
[12:59:35.224] airkiss: airkiss-1.0.0-open
[12:59:53.060] airkiss locked chn 6
[12:59:56.243] pwd qertuiopadghh ssid CDHN_Test

/* 路由型号: 未知 */
[13:03:41.357] airkiss: airkiss-1.0.0-open
[13:03:59.933] airkiss locked chn 9
[13:04:07.905] airkiss locked chn 9 
[13:05:11.054] airkiss locked chn 9
[13:05:18.451] airkiss locked chn 9 
[13:05:24.069] pwd wrtuiiosfhklkggj ssid FAST_157

[13:09:17.259] airkiss: airkiss-1.0.0-open 
[13:09:58.990] airkiss locked chn 9
[13:10:35.238] airkiss locked chn 9
//失败后改变密码内容
[13:11:03.706] airkiss locked chn 9
[13:11:07.020] pwd 1234567890 ssid FAST_157

[13:25:32.455] airkiss: airkiss-1.0.0-open 
[13:25:40.562] airkiss locked chn 9 
[13:25:43.062] pwd 1234567890qwe ssid FAST_157
```
